# Dependencies
node_modules/
vendor/

# Build output
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-*

# Package files
*.zip

# WordPress
.htaccess
wp-config.php
